@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#teste2{
    height: 100%;
}
html{
    scroll-behavior: smooth; /* Faz com que a rolagem seja suave */
    scroll: "top";
}

::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
   
}

/* Cor da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #AC32EB; /* Cor da barra de rolagem */
    border-radius: 6px;
}

/* Cor do fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #333; /* Cor do fundo da barra de rolagem */
    border-radius: 10px;
}
a{
    color: black;
}
*{
    margin: 0px;
    text-decoration: none;
    
}

body {
    background-color: #19191A;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;  
    color: white;
    background-color: black;
    
}
header{
    height: 100px;
    display: flex;
    justify-content: space-around;  
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: rgb(57 57 57 / 91%);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
ul{
    padding: 0px;
    list-style: none;
    display: flex;
   
    align-items: center;

}
#tittle   img{
    margin-top: 6px;
    width: 100px;
    
}
#titlle:hover{
    filter: drop-shadow(1px 1px 1px #AC32EB);
}

.centro >  ul a li{
    text-decoration: none;
    transform: scale(1);
    transition:transform 0.5s;

}
.centro > ul > a > li {
    color: white;
    display: inline-flex;
    border-radius: 6px;

    font-size: 16px;
    padding: 0px 15px;
    text-decoration: none;
}
.esquerda{
    display: inline-flex
}
.esquerda > a{
    text-decoration: none;
}
.esquerda > a > i {
    color: white;
    display: inline-flex;
    border-radius: 6px;
    margin: 0px 5px;
    height: 36px;
    width: 36px;
    font-size: 30px;
   
    
}
#botaoContato{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #AC32EB;
    box-shadow: 1px 1px 10px #AC32EB;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    width: 200px;
    height: 33px;
    transform: scale(1);
    transition: color 0.5s, transform 0.5s;
}
a#botaoContato{
    color: white;
}
#botaoContato:hover{
    background-color: #AC32EB;
    transform: scale(1.13);
}
#botaoContato a {
    color: white;
}
#tittle strong {
    color: #AC32EB;
}

.centro > ul a :hover{
    color: #AC32EB;
    transform: scale(1.10);
    
    
}
.esquerda > a > i:hover{
    color: #AC32EB;
    transform: scale(1.10);
    
    
}

.mobile ul li   {
    display: flex;
    justify-content: right;
    width: 100%;
   
}
.mobile a{
    color: #AC32EB;
}
.mobile ul{
    display: flex;
    flex-direction: column;

}
.btn-abrir-menu span{
    color: #AC32EB;
    font-size: 35px;
    display: none;
}
.menu-mobile{
    height: 100vh;
    background-color: #131313;
    top: 0;
    right: 0;
    position: fixed ;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
}
.menu-mobile.abrir-menu{
    width: 70%;

}
.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}
.menu-mobile .btn-fechar span{
    color: #AC32EB;
    font-size: 40px;

}
.menu-mobile .btn-fechar{
    padding: 20px 5%;
}
.menu-mobile nav ul li a  {
    padding: 20px 4%;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}
.menu-mobile nav ul li a:hover  {
    background-color: #FFDE32 ;
    width: 99.1%;
    text-align: right;
    color: black;
    border-radius: 20px;
    
}
.overlay-menu{
    background-color: rgba(0, 0, 0, 0.71);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
    display: none;
}

div > h1{
    line-height: 25px;
}

#first-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    font-weight: 300;
    line-height: 40px;
   
   
    

    
}
.sobreMim{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sobreMim p{
    width: 70%;
    font-size: 20px;
}   

.sobreMim h1{
    width: 70%;
    font-size: 2.4em;
}
.minhaFoto{
    width: 50%;
    text-align: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#first-section  .textoAbout{
    font-weight: 300;
    line-height: 50px;
    margin-top: 52px;
    width: 50%;
}
#first-section  h1{
    font-weight: 300;
    line-height: 35px;
    margin-top: 52px;
    width: 129%;
}
.icones{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.notbookFundo{
   width: 100%;
   height: 100%;
}
.righ{
    text-align: center;
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column  ;
    align-items: center;
}
.righ p{
    font-size: 20px;
    width: 50%; 
    text-align: left;

   
    
}
.righ h1{
    margin: 10px 0px;
    
    width: 50%;
    text-align: left;
}
 h1 span{
    color: #AC32EB;
    padding: 6px ;
    border-radius: 10px;
}
.righ h2{
    margin: 50px 0px;
    font-size: 20px;
    width: 50%;
    text-align: left;
}
.righ h2 p{
    color: black;
    background-color: #AC32EB;
    padding: 6px ;
    border-radius: 10px;    
    width: 96%;
    margin: 10px 0px;

}
.download {
    width: 50%;
    display: flex;
    justify-content: left;
}
.righ button{
    text-align: left;
    border-radius: 10px;
    display: flex;
}
.righ h2 span{
    color: #AC32EB;
}
#first-section strong{
    color: #AC32EB;
    font-size: 2.2em;
    line-height: 90px;
    
}
#first-section > div > p strong:hover{
    text-decoration: underline;
}
.minhaFoto img{
    height: 350px;
    width: auto;
    border-radius: 50%;
    margin-top: 70px;
    margin-bottom: 50px;
}
#first-section img{
    object-fit: cover;
  
}

#sobreMim{
    width: 100%;
    height: 100vh;
    display: flex;
}
.right{
    width: 50%;
    height: 90%;
}

.background-about{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}
.img-wrapper{
    height: 100%;
    width: 100%;

    position: relative;
}
.img-wrapper::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: 
        linear-gradient(.25turn, transparent 30%, black),
        linear-gradient(.5turn, transparent 30%, black),
        linear-gradient(1turn, transparent 30%, black);
}
.img-wrapper img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}
.redesociais img{
    width: 50px;
    height: 50px;
}
.tecnologia{
    margin-top: 70px;
    width: 50%;
    height: 50px;
}
.tecnologia img{
    margin-right: 20px;
}
.tecnologia h1{
   font-size: 22px;
   
}






.cards{
    width: 120px;
    height: 120px;
    background-color: white;
}



.tecnologias{
    display: flex;
    flex-direction: row;
}
.colunaTecnologia{
    display: flex;
}



.card:hover {
    transform: scale(1.02);
  
}





#thirdSection{
    height: 100vh;
    padding-bottom: 100px;
    
}

.card img{
   
   width: 250px ; 
   height: 150px;
   border-radius: 10px;
}
.DescricaoProjeto{
    margin: 10px 0px;
    height: 160px;
    color: black;
    font-size: 15px;
    font-optical-sizing: 1.7em;
    text-transform: uppercase;
}
.DescricaoProjeto {
    font-optical-sizing: 1.7em;
    text-transform: uppercase;
    height: 150px;
    width: 280px;

}
.underline{
    width: 98%;
    height: 3px;
    position: relative;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
}

.underline span{
    width: 98%;
    height: 100%;
    position: absolute;
    left: 10px;
    background-color: #AC32EB;
    border-radius: 3px;
    animation: moving 1.5s linear infinite;
}
.botoes{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 10;
    
    
}
.gitHub,.acessoAoSite{
    padding: 4px;
    border: 2px solid #AC32EB;
    border-radius: 10px;
    
}
#content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 80vh;
    flex-direction: row;

    margin: 0px;
}
.card {
    background-color: #e4d8eb;
    border-radius: 20px;
    box-shadow: 0px 0px 50px #AC32EB;
    width: 350px;   
    margin: 10px 40px;
    transform: scale(1);
    transition: color 0.5s, transform 0.5s;
    

}

.card:hover{
    transform: scale(1.02);
}
.topCard{
    height: 100px;
}

.mediaCard {
    text-align: center;
    height: 210px;
    width: 100%;
}
.mediaCard img{
    
    height: 200px;
    width: 320px;
    box-shadow: 0px 0px 30px black;
   
  
}
.secondText strong{
    color: #AC32EB;
}

.topCard {
    padding: 20px;
    padding-top: 0px;
}

.bottonCard {
    padding: 20px;
}

.actions {
    background: none;
    border: none;
    color: black;
}
.actionCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}
.actionCard a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0px 10px;
    border: 2px solid #AC32EB;
    padding: 4px;
    border-radius: 10px;
}

h2.title {
    color: #2b3d59;
    margin: 20px 0px;
}

span.secondText {
    color: #828fa1;
}
#thirdSection h1{
    margin-top: 200px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    height: 20%;
    color: #AC32EB;
    align-items: flex-end;
    justify-content: center;
}

p.bottonText {
    color: #445b73;
    text-align: left;
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}
.projetos{
    text-align: center;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;

}

footer{
    background-color: rgba(56, 51, 51, 0.719);
    height: 200px;
    width: 100%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-direction: column;
    
}
footer ul{
    display: inline-flex;
    list-style: none;
    
}
footer ul li{
    padding: 0px 50px;
    font-weight: 200;
    font-size: 18px;
    
}
footer h1{
    font-size: 14px;
    font-weight: 200;
}

.underline{
    width: 65%;
    height: 3px;
    position: relative;
    background-color: #AC32EB;
    margin-top: 20px;
    border-radius: 3px;
    overflow: hidden;
    
}
.geral{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.underline span{
    width: 7px;
    height: 100%;
    position: absolute;
    left: 10px;
    background-color: #AC32EB;
    border-radius: 3px;
    animation: moving 1.5s linear infinite;
}
.area-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0px;
}
.login{
    background-color: #19191A;
    width: 410px;
    height: 488px;
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 11px;
    box-shadow: 0px 0px 20px #AC32EB;


}.login form{
    display: flex;
    flex-direction: column;
    width: 100%;
   
}
.login h1{
    font-size: 10px;
}

.login input{
    margin: 9px 0px;
    background-color: #19191A;
    border: 1px solid #ffffff;
    height: 45px;
    outline: none;
    border-radius: 10px;
    color: white;
    padding-left: 10px; 
    font-size: 17px;
    
   
}
.text{
   width: 100px;
   height: 30px;
}
textarea {
    display: block;
    margin: 9px 0px;
    background-color: #19191A;
    border: 1px solid #ffffff;
    height: 45px;
    outline: none;
    border-radius: 10px;
    color: white;
    padding-left: 10px; 
    font-size: 17px;
}
.login img{
    width: 95px;
    height: auto;
    padding-top: 0px;   
}
input::placeholder{
   
    font-size: 14px;
    
 }
 form [type="submit"]{
     display: block;
    
     background-color: #AC32EB;
     font-size: 17px;
     text-transform: uppercase;
     cursor: pointer;
     border: none;    

 }
 
.area-login h1{
     color: white;
     text-align: center;
     margin-bottom: 2px;
     height: 54px;
     font-size: 44px;
     margin-bottom: 20px;
 }
.login h1{
    color: white;
    text-align: center;
    margin-bottom: 2px;
    height: 54px;
    font-size: 24px;
}
.area-login strong{
    color: #AC32EB;
}
#mensagem{
    height: 150px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#emailDireita{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#emailDireita i{
    margin: 0px 10px;
    font-size: 25px;
    color: #AC32EB;
}
  
@media (max-width: 763px){
    
    .btn-abrir-menu span{
        display: flex;
    }

    body{
        margin: 0px;
        padding: 0px 0px;
        width: 100%;
    }

    header{
        width: 100%;
        background-size: 100%;
    }
   
    .centro , #botaoContato{
        display: none;
    }
  
    
    header .esquerda {
      
        text-align: center;
        
    }

    #first-section {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
        width: 100%;
        margin: 30px 0px;
        padding: 100px 0px;
    }
    .sobreMim {
        width:  100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #first-section img {
      
        width: auto;
        border-radius: 50%;
    }

    .area-login h1{
       margin-top: 200px ;
    }

    #thirdSection {
        width: 100%;
        height: 100%;
    }
    .card{
        
    }

 
    #content {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        height: 100%;
    }
    .area-login{
        width: 100%;
      
    }
    .login {
        width: 63%;
    }
    .geral {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 10px;
}
#first-section .textoAbout {
    margin: 0px;
    width: 100%;
}
.righ h1, h2 {
    height: 25%;
    width: 110%;
   
}
.righ {
    margin-left: 25px;
    width: 60%;
}
.righ h2 {
    width: 100%;
}
.righ p {
    
    width: 100%;
 
}
.background-about{
    width: 30%;
  
}
#sobreMim{
    padding: 200px 0px;
}


#first-section h1 {
    font-weight: 300;
    line-height: 50px;
    margin-top: 52px;
    width: 100%;
}


.minhaFoto img {
    height: 250px;
}

.textoAbout{
    margin: 0px;
}
.tecnologia img{
    margin: 0px;
}
.minhaFoto img{
    margin: 0px;
}
.minhaFoto{
    height: 30vh;
}
.esquerda > a{
    display: none;
}
.icones{
    align-items: center;
}
.download {
    width: 100%;
    
}


}
